<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>

    <appSettings>

        <!-- ========== ========== 模型相关设置 ========== ========== -->

        <!--模型命名空间-->
        <add key="ModelNameSpace" value="MuaModel" />
        <!--模型物理路径(用于反射)-->
        <add key="ModelFilePhysicsPath" value="C:\Users\W7\Documents\VN\Mua\Release\Web\Bin\MuaModel.dll" />
        
        <!-- ========== ========== 上传文件设置 ========== ========== -->
        
        <!--上传文件时单个文件大小限制(以字节为单位)-->
        <add key="MuaBoxFormFilesDefaultLengthLimit" value="524288000" />
        <!--上传文件时 MIME 限制-->
        <add key="MuaBoxFormFilesDefaultContentType" value="text/plain,application/x-zip-compressed,application/x-rar-compressed" />
        <!--上传文件时 后缀名 限制(需与上方的 MIME 对应)-->
        <add key="MuaBoxFormFilesDefaultExtName" value="txt,zip,rar" />
        <!--保存文件的物理路径-->
        <add key="MuaBoxFormFilesDefaultPhysicsSaveAsRootPath" value="C:\wwwRoot\Web\upload\Def\" />
        <!--保存文件的物理路径的虚拟路径-->
        <add key="MuaBoxFormFilesDefaultServerRootPath" value="/upload/" />
        <!--
        虚拟路径的根域名
        
        上传文件后的实际URL链接(举例):
        http://def.xxx.com/upload/2015/1/1/Ab3Own-9wna.txt
        -->
        <add key="MuaBoxFormFilesDefaultServerDomainName" value="http://def.xxx.com/" />

        <!-- ========== ========== 上传图片设置 ========== ========== -->

        <!--上传图片时单个文件大小限制(以字节为单位)-->
        <add key="MuaBoxFormFilesImageLengthLimit" value="524288000" />
        <!--上传图片时 MIME 限制-->
        <add key="MuaBoxFormFilesImageContentType" value="image/jpg,image/jpeg,image/gif,image/png,image/bmp,image/jpeg,image/exig,image/tiff" />
        <!--上传图片时 后缀名 限制(需与上方的 MIME 对应)-->
        <add key="MuaBoxFormFilesImageExtName" value="jpg,jpg,gif,png,bmp,jpeg,exig,tiff" />
        <!--保存图片的物理路径-->
        <add key="MuaBoxFormFilesImagePhysicsSaveAsRootPath" value="C:\wwwRoot\Web\upload\Img\" />
        <!--保存图片的物理路径的虚拟路径-->
        <add key="MuaBoxFormFilesImageServerRootPath" value="/upload/" />
        <!--
        虚拟路径的根域名
        
        上传图片后的实际URL链接(举例):
        http://img.xxx.com/upload/2015/1/1/Ab3Own-9wna.jpg
        -->
        <add key="MuaBoxFormFilesImageServerDomainName" value="http://img.xxx.com/" />

        <!-- ========== ========== 缩略图设置 ========== ========== -->

        <!--是否按比例缩放( 1 : 在预设长宽值范围内按比例缩放 0 : 按照预设长宽值固定缩放 )-->
        <add key="MuaBoxThumbnailPhotosByRatio" value="1" />
        <!--缩略图最大宽度(以像素为单位)-->
        <add key="MuaBoxThumbnailPhotosMaxWidth" value="100" />
        <!--缩略图最大长度(以像素为单位)-->
        <add key="MuaBoxThumbnailPhotosMaxHeight" value="100" />
        <!--生成缩略图时需要用到的临时目录的物理路径-->
        <add key="MuaBoxThumbnailPhotosPhysicsSaveAsTempPath" value="C:\wwwRoot\Web\upload\ThumbnailPhototemp\" />
        <!--保存缩略图的物理路径-->
        <add key="MuaBoxThumbnailPhotosPhysicsSaveAsRootPath" value="C:\wwwRoot\Web\upload\ThumbnailPhoto\" />
        <!--保存缩略图的物理路径的虚拟路径-->
        <add key="MuaBoxThumbnailPhotosServerRootPath" value="/ThumbnailPhoto/" />
        <!--
        虚拟路径的根域名
        
        缩略图的实际URL链接(举例):
        http://tp.xxx.com/ThumbnailPhoto/2015/1/1/Ab3Own-9wna.jpg
        -->
        <add key="MuaBoxThumbnailPhotosServerDomainName" value="http://tp.xxx.com/" />

        <!-- ========== ========== 防盗链设置 ========== ========== -->

        <!--是否开启防盗链( 1 : 开 0 : 关 )-->
        <add key="HttpRefererFilterON" value="1" />
        <!--空回路限制( 1 : 开 0 : 关 )-->
        <add key="HttpRefererFilterBreakForNULL" value="1" />
        <!--需要防盗链的后缀名-->
        <add key="HttpRefererFilterExtLimitList" value=".jpg,.gif,.png" />
        <!--防盗链白名单-->
        <add key="HttpRefererFilterDomainWhiteList" value="localhost,127.0.0.1" />

    </appSettings>

    <connectionStrings>
        <add name="muabox" connectionString="Server=localhost;Uid=root;Pwd=root.123456;Database=muabox;" />
        <!--
        1. 这里的 name 就是目标数据库名称 并且与模型类库 "MuaModel" 的目录(命名空间)根节点名称对应
        2. 上方的 "muabox" 数据库链接是 MuaBox 类库默认作为内部数据存储用的 例如: 内部数据层 try...catch 异常信息的 log
        3. 上方的 "muabox" 是固定名称 不能修改 根据 name 的规则 其对应的数据库名称也必须是 muabox 
        4. 如果网站需要横跨 N 个数据库 添加数据库链接时 需添加在 "muabox" 数据库链接的下方 如下:
        
        <add name="defaultdb" connectionString="Server=localhost;Uid=root;Pwd=root.123456;Database=defaultdb;" />
        -->
    </connectionStrings>
    
	<system.web>
		<!--
	        MSDN ASP.NET HTTP 模块
	        ms-help://MS.MSDNQTR.v90.chs/kb/frontpg/307996.htm
	    -->
		<httpModules>
			<add name="MuaHttpModule" type="MuaBox._Web._Http.SyncModule, MuaBox"/>
		</httpModules>
		
		<httpHandlers>
			<add verb="*" path="*/MuaBox.*" type="MuaBox._Web._Http.PageProcessHandler, MuaBox"/>
		</httpHandlers>
		<!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<compilation debug="true">
		</compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
		<authentication mode="Windows"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
</configuration>
